%% -*- mode: Erlang; -*-

{require_otp_vsn, "R15|R16"}.

{sub_dirs, [ "rel"]}.
% 
% 
 {erl_opts, [
     {parse_transform, lager_transform},
%    no_debug_info,
     {i, "include"},
     {native },
      warn_unused_vars
 ]}.
     %warnings_as_errors,

{deps, [
    {goldrush,".*", {git,"https://github.com/DeadZen/goldrush.git",
                    {tag,"879c69874a"}}},
    {lager, "2.0.0",    {git, "https://github.com/basho/lager.git",       {tag, "2.0.0"}}},
    {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"} }},
    {cowboy, "0.8.6", {git, "https://github.com/extend/cowboy.git", "0.8.6"}},
    {eprolog, ".*", {git, "git@github.com:perldev/hprolog.git", {branch, "release_x"}}},
    {mimetypes, ".*", {git, "https://github.com/spawngrid/mimetypes.git", "master"}},
    {ranch , "0.8.4"    ,{git,"https://github.com/extend/ranch.git","0.8.4"} }



]}.

{cover_enabled, true}.

{clean_files, ["deps/*/ebin", "*.eunit", "ebin"]}.
{app_bin, ["ebin"]}.
{eunit_opts, [
                verbose,
                {report, {eunit_surefire, [{dir, "."}]}}
            ]
}.
